<p>confirmation works!</p>
<form #form="ngForm" (ngSubmit)="submitForm()">
  <div class="confirmation-container">
    <output>Full Name : </output>
    <input
      class="confirmation-items"
      type="text"
      name="Full  Name"
      [(ngModel)]="fullName"
    />
  </div>
  <div class="confirmation-container">
    <output>Adress : </output>
    <input type="text" name="Adress" [(ngModel)]="adress" />
  </div>
  <div class="confirmation-container">
    <output>Credit Card Number </output>
    <input
      type="text"
      name="Credit Card Number"
      [(ngModel)]="creditCardNumber"
      maxlength="16"
    />
  </div>

  <button type="submit" >submit</button>
</form>
